<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo!</h1>
            <p class="lead">Esse é meu primeiro blog em NodeJS.</p>
            <hr class="my-4">
            <p>O visual não está tão bom quanto poderia pois o foco do projeto foi o Back-End.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
        <hr>
        <% article.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
        <% }) %>
    </div>
</body>

<%- include ('partials/footer.ejs') %>